# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# IDE
.idea/
.vscode/
*.iml

# Native generated folders
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Environment
.env
.env.local
.env.*.local

# Misc
*.log
